<div class="container">

    <div class="faq">

        <h1 class="text-uppercase spacing-square-big-top spacing-square-big px-0">Frequently asked questions </h1>

        <p class="spacing-square-16 "><b>How do I submit my rebate request? </b></p>


        <p class=" ">There are two ways to submit your rebate: </p>
        <br>
        <u>Consumers</u>
        <br>

        ONLINE - Submitting online allows for faster processing of your rebate, as it validates the part numbers (if
        applicable) purchased or installed on your vehicle and helps to ensure important consumer information is
        accurate and legible, which otherwise can delay claim processing.
        <br>
        <ul>
            <li>On the homepage click on “Submit Rebate Online” under the “Are you a Consumer?”.</li>
            <li>Fill in the information requested below the step-by-step instructions to be presented with a list of
                current rebates.
            </li>
            <li>Click on the one(s) from the list that you are submitting.</li>
            <li>Fill in the contact information and click “Submit.”</li>
            <li>We will try to automatically validate your rebate within 7 business days. If we are unable to validate
                your rebate we will send you an email requesting you to upload a copy of your invoice/repair order.
            </li>
        </ul>
        MAIL<br>
        <ul>
            <li>On the homepage click on “Mail in Rebate” under the “Are you a Consumer?”.</li>
            <li>Select your rebate(s) from the list provided</li>
            <li>Download the form(s)</li>
            <li>Fill them out completely and legibly, and mail as directed with a copy of your invoice/repair order.
            </li>
            <li>Please be sure to mail the form(s) by the postmark date stated. If they are mailed outside of the
                postmark date the rebate will be rejected.
            </li>
        </ul>

        <u>Fleet Accounts</u>
        <br>
        ONLINE – Use this process if you have more than 5 rebates to submit.<br>
        <ul>
            <li>On the homepage click on “Upload Bulk Rebates” under the “Are you a Fleet Customer?”.</li>
            <li>Click on the rebate you want to apply for.</li>
            <li>Download the form and fill out all information.</li>
            <li>Upload the form to the site.</li>
        </ul>


        <p class=" spacing-square-16 spacing-square-20-top"><b>How do I know if I’m eligible for the rebate? </b></p>
        <p class="">Your rebate form will state all of the requirements to be eligible for the rebate. It will specify
            requirements such as the promotion dates, the service or purchase requirements, and where the service or
            purchase must be completed (at a participating Chevrolet, Buick, GMC or Cadillac dealer, an authorized
            powertrain reseller, or an Independent Service Center [ISC]). Reference your Rebate Form for complete
            details. To download a rebate form, select “Mail-In Rebate” from the homepage under “Are you a consumer”
            then select your rebate by clicking “Download Form.”</p>

        <p class=" spacing-square-16 spacing-square-20-top"><b>What information do I need to complete the rebate
            submission?</b></p>
        <p>If submitting online, you will need the following information:</p>
        <br>
        <ul>
            <li>Purchase Date</li>
            <li>VIN</li>
            <li>Repair Order Number</li>
            <li>Purchase Location</li>
            <li>Which product you are submitting your rebate for</li>
            <li>Name</li>
            <li>Address</li>
            <li>Phone Number</li>
            <li>eMail Address</li>
            <li>Did you purchase using a GM or BuyPower Card. If yes, will need the last four digits of the card used.
            </li>
        </ul>
        <p>If submitting via the mail-in rebate form you will need all of the above information as well as the part
            number and a copy of your repair order/repair invoice. Rebate submissions without the invoice/repair order
            will be disqualified.</p>

        <p class="spacing-square-16 spacing-square-20-top"><b>What if I cannot find my copy of the invoice/repair
            order? </b></p>
        <p>Contact the Chevrolet, Buick, GMC, or Cadillac dealer, authorized powertrain reseller, or ISC that performed
            your service or where you made your purchase, and they can reprint another invoice/repair order for you.
            Information off your invoice/repair order is required to validate your online rebate submission. A copy of
            the invoice/repair order is required to validate your mail-in rebate submission.</p>
        <p class="spacing-square-16 spacing-square-20-top"><b>Where do I find the invoice/repair order number? </b></p>
        <p>Typically, the repair order number is in the top section of the repair order, near the customer information.
            In some instances, it may be referred to as the invoice number.</p>
        <p class="spacing-square-16 spacing-square-20-top"><b>Where do I mail my rebate request? </b></p>
        <p>Mail your Rebate Form to the address listed on the form. You should retain copies of your entire rebate
            submission for your records.</p>
        <p class="spacing-square-16 spacing-square-20-top"><b>How long does it take to process a rebate? </b></p>
        <p>Please allow up to 8 weeks for delivery of the rebate after submitting your rebate online or mailing in your
            rebate submission.</p>

        <p class="spacing-square-16 spacing-square-20-top"><b>What is the status of my rebate? </b></p>
        <p>You can check the status of your rebate within the “Status Lookup” section of this website.</p>

        <p class="spacing-square-16 spacing-square-20-top"><b>I forgot to mail my submission and the last eligible
            postmark date has passed. What do I do now? </b></p>
        <p>Submissions mailed after the last eligible postmark date will be rejected. Our rebate offers are special
            because they are carefully planned for specific time frames and are not available all the time. Watch for
            future offers on our products and services, check the dates, and submit your rebate request promptly.</p>

        <p class="spacing-square-16 spacing-square-20-top"><b>How many rebates can I submit? </b></p>
        <p>The limits vary based on the rebate you are submitting. So please refer to the Terms & Conditions listed on
            your rebate form for more information.</p>

        <p class="spacing-square-16 spacing-square-20-top"><b>When will I have to upload a copy of my invoice/repair
            order? </b></p>
        <p>If we are unable to automatically validate your invoice/repair order using our internal data, we may reach
            out to you and ask you to upload a copy of your invoice/repair order for validation of the purchase. Please
            keep in mind that our system will allow PDF, JPG, JPEG, and PNG files. The maximum size allowed for the
            picture or scan upload is 3.5MB.</p>

        <p class="spacing-square-16 spacing-square-20-top"><b>What if I need to speak with someone about my rebate? </b>
        </p>
        <p>Call 1.844.656.5369 weekdays, 7 a.m. to 11 p.m. EST.</p>

        <!--<div class=" faq">-->
            <a class="btn btn-primary text-uppercase spacing-square-big-top spacing-square-big gm-btn "
               onclick="window.scrollTo(0, 0);">Back
                to top</a>
        <!--</div>-->

    </div>

</div>
